@{
    Layout = "_Layout";
    ViewBag.Title = "Farmácia";
}
<div class="jumbotron" style="padding-bottom:0px; padding-top:0px;">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>Público-alvo</h2>
        <p>
            Profissionais da área da saúde responsáveis por gerência e cuidados da saúde. Também incluindo técnicos em enfermagem que desejam obter uma visão ampla e aprofundada dos conceitos,
            técnicas e ferramentas que envolvem o dia a dia do hospital.
        </p>
        <p><a class="btn btn-primary" href="#" role="button">Mais detalhes &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Cronograma</h2>
        <strong>Início das aulas:</strong>
        <p>29/05/2017</p>
        <strong>Dias da semana</strong>
        <p>Segundas e quartas: 13h00 às 17h30 </p>
        <strong>Carga horária total</strong>
        <p>250 horas</p>
        <p><a class="btn btn-primary" href="#" role="button">Mais detalhes &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Seja um assistente de farmácia(a)</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <p><a class="btn btn-primary" href="#" role="button">Mais detalhes &raquo;</a></p>
    </div>
</div>